:root {
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 400ms;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body {
  display: flow-root;
  min-width: 100vw;
  min-height: 100vh;
}

html {
  font-size: min(max(1rem, 4vw), 22px);
}

body {
  font-family: sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}
a { color: var(--text-secondary); }
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-primary);
}

#app {
  display: flow-root;
  max-width: calc(100% - 4.2rem);
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 1.5rem;

  position: relative;
  left: 4.2rem;
  
  transition: max-width 600ms ease, left 600ms ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 40%;
  padding: 1rem;

  background: transparent;
  text-align: center;
}

.box h1 {
  color: var(--text-secondary);
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 1rem auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 0.6rem 0.3rem;
  width: 85%;
  outline: none;
  color: var(--text-primary);
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
  width: 95%;
  border-color: #2ecc71;
}

.box input[type = "submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 0.9rem auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 0.6rem 2rem;
  outline: none;
  color: var(--text-primary);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover {
  background: #2ecc71;
}
/* Mobile devices */
@media only screen and (max-width: 700px) {
  .box {
    width: 60%;
  }
}

@media only screen and (max-width: 550px) {
  .box {
    width: 80%;
  }
}

/* Navbar */


main {
  margin-left: 4.2rem;
  padding: 0.7rem;
}
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: none;
  z-index: 9999;
  box-shadow: 2px 0 10px -1px #000;
}

.navbar:hover + #app {
  max-width: calc(100% - 10rem);
  left: 10rem;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4.2rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
 
.link-text {
  display: none;
  margin-left: 0.7rem;
}

.nav-link svg {
  width: 1.4rem;
  min-width: 1.4rem;
  margin: 0 0 0 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 0.6rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

section.center {
  text-align: center;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4.2rem;
  }
  #app {
    width: 100vw;
    max-height: calc(100% - 4.2rem);
  }
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 4.2rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 10rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 7rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

/* Get Started Buttons */

.get-started-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2rem;
}

.get-started-buttons button {
  position: relative;
  height: 60px;
  width: 200px;
  margin: 0 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: var(--bg-primary);
  color: var(--text-secondary);
  letter-spacing: 2px;
  cursor: pointer;
  transition: var(--transition-speed);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.get-started-buttons button:first-child:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

.get-started-buttons button:last-child:hover {
  background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}

.get-started-buttons button:first-child::before,
.get-started-buttons button:last-child::before {
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity var(--transition-speed);
}

.get-started-buttons button:first-child:hover::before,
.get-started-buttons button:last-child:hover::before {
  opacity: 1;
  z-index: -1;
}

.get-started-buttons button:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
