:root {
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 400ms;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: min(max(1rem, 4vw), 22px);
}

body {
  font-family: sans-serif;
  background: var(--bg-primary);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-primary);
}

.box {
  width: 40%;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  background: transparent;
  text-align: center;
}

.box h1 {
  color: var(--text-secondary);
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 1rem auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 0.6rem 0.3rem;
  width: 85%;
  outline: none;
  color: var(--text-primary);
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
  width: 95%;
  border-color: #2ecc71;
}

.box input[type = "submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 0.9rem auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 0.6rem 2rem;
  outline: none;
  color: var(--text-primary);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover {
  background: #2ecc71;
}
/* Mobile devices */
@media only screen and (max-width: 700px) {
  .box {
    width: 60%;
  }
}

@media only screen and (max-width: 550px) {
  .box {
    width: 80%;
  }
}

/* Navbar */


main {
  margin-left: 4.2rem;
  padding: 0.7rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: none;
  z-index: 9999;
  box-shadow: 2px 0 10px -1px #000;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4.2rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
 
.link-text {
  display: none;
  margin-left: 0.7rem;
}

.nav-link svg {
  width: 1.4rem;
  min-width: 1.4rem;
  margin: 0 0 0 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 0.8rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4.2rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 4.2rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 10rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 7rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}
