<div>
    <nav>
        <div>
            <h1>PinzonBase API</h1>
        </div>
        <div>
            <ul>
                <li><a class="btn btn-secondary" href="/logout">Logout</a></li>
                <li><a class="btn btn-primary" href="/project/new">New Project</a></li>
            </ul>
        </div>
    </nav>
    <div class="home">
        <h1>Home</h1>
        <p>Welcome, <strong><%= username %></strong></p>
    </div>
    <div class="projects">
      <% projects.forEach(x => { %>
       <div>
           <p>id: <%= x._id %> </p>
           <p>name: <%= x.projectName %> </p>
       </div>
      <% }) %>
    </div>
</div>
