<section class="center">
    <h1>Pinzonbase</h1>
    <h5>Pinzonbase is an open source API to store your player's data with Unity Engine</h5>
    <div class="get-started-buttons">
        <!-- <a href="/project/new">Get Started</a>
        <a href="#">Documentation</a> -->
        <button>Get Started</button>
        <button>Documentation</button>
    </div>
</section>